.main-comp-view-blog {
  background-color: black;
  padding-top: 5rem;
  color: white;
}

.Subscribe-span {
  font-weight: 600;
  font-size: 24px;
  color: "#F7F8F8";
}

#Subscribe-span {
  color: #8a8f98;
  font-weight: 500;
  font-size: 15px;
}

#email-input {
  height: 32px;
  background: #060606;
  color: white;
  border: 1px solid #313035;
  border-radius: 6px;
  width: 296.52px;
  padding: 8px 13px;
}

#join-btn {
  width: 58.48px;
  height: 32px;
  color: white;
  border: none;
  background: #9d31a0;
  border-radius: 4px;
}

#scroll-div {
  display: flex;
  gap: 50px;
  margin: auto;
  width: 80vw;
  height: 300px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: justify;
  scrollbar-width: thin;
}
.blog__container{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#scroll-div::-webkit-scrollbar {
  display: none;
    width: 10px;
  }
  #scroll-div::-webkit-scrollbar-track {
    background-color: darkgrey;
    border-radius: 100px;

  }
  
  #scroll-div::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
  }
  .blog__title-details{
    font-size: 4rem;
    text-shadow: none !important;
    font-style: normal;
  }
  .para-title{
    font-size: 3.2rem;
    font-weight: 800;
    border-bottom: 0.5rem solid #fff;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.3rem;
  }
  .blog-content{
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.2rem;
    margin-top: 2rem;
    letter-spacing: 0.1rem;
    text-shadow: none;
    text-align: justify;
    
  }

  .blog_image{
    border-radius: 8px;
  }
/* .blogImage{
  border: 3px solid #9d31a0;
  border-radius: 8px;
} */
.blog__header{
  /* border: 2px solid #9d31a0; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
/* .profile__detail-name{
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* .post__icon{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8A8F98;
} */
.socialmedia__icon{
  /* border: 2px solid #9d31a0; */
  /* color: rgb(255, 255, 255,0.5); */
  margin-bottom: 1.5rem;
}
.Twitter__icon{
  color: rgb(255, 255, 255,0.5);}

  .Twitter__icon:hover{
    color: rgb(255, 255, 255,1);}


.Facebook__icon{
  color: rgb(255, 255, 255,0.5);}

  .Facebook__icon:hover{
    color: rgb(255, 255, 255,1);}  


.Linkedin__icon{
  color: rgb(255, 255, 255,0.5);}

  .Linkedin__icon:hover{
    color: rgb(255, 255, 255,1);} 


